/********************************
      GENERAL STYLES
********************************/

h1 {
	font-size: 36px;
	text-align: center;
}

@media (max-width: 450px) {
	h1 {
		font-size: 30px;
	}
}

h5 {
	margin-top: 30px;
}

.to-github {
	margin: 50px auto 30px auto;
	height: 18px;
	max-width: 100px;
	display: block;
	background: transparent url('../img/github.svg') no-repeat center center;
	background-size: contain;
}

/********************************
      CURRENT LOCATION COMPONENT
********************************/

.current-location {
	padding: 10px 0;
}

/********************************
      MAP COMPONENT
********************************/

.map-holder {
	max-width: 500px;
	height: 350px;
	margin: 0 auto;
	background-color: #FCFCFC;
	position: relative;
	border-radius: 2px;
}

.map-holder p {
	position: absolute;
	width: 84px;
	height: 22px;
	left: 50%;
	top: 50%;
	margin: -11px auto 0 -42px;
	font-size: 20px;
	color: #969FA8;
}

#map {
	max-width: 500px;
	height: 350px;
	margin: 0 auto;
}

/********************************
      LOCATION LIST COMPONENT
********************************/

.glyphicon-menu-right {
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -9px;
}

.list-group {
	padding: 0 15px;
	margin-top: 30px;
}

.list-group-item {
	position: relative;
	padding: 10px 20px;
}

.list-group-item {
	cursor: pointer;
}

.list-group-item:hover {
	background-color: #F7FBFF;
}

.active-location {
	background-color: #EEF6FF;
}

.active-location:hover {
	background-color: #EBF3FC;
}

.list-group-item span.createdAt {
	display: block;
	color: #969FA8;
	z-index: -1;
}
